.background : azure;
.container {
    padding: 100px; 
}

.title {
    font-size: 50px;
    color: darkblue;
}

.todo-form {
    
}

.copyright{
  font-family: sans-serif;
  padding-top: 10px;
  text-align: center;
  background-color: azure;
  color: blue
}.copyright p{
  margin: 0px;
}
.content img{
  width: 710px;
  height: 600px;
  padding-bottom: 15px;
}
.profile_pic{
  background-color: #E9ECE8;
  
}
.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  border-radius: 150px;  
  border: 5px solid white; 

  

}
.Paragraph{
  font-size: 1em;
  background-color: white
  padding-bottom: 500px;
  text-align: center;
  padding-top: 15px;
}
.fa {  
  padding: 5px;  
text-align: center;  
  margin: 5px 3px;  
  font-size: 15px;  
  width: 20px; 
  height: auto;
  border-radius: 5px;
  
}  
.fa-facebook {  
  background: #3B5998;  
  color: white;  
}  
.fa-twitter {  
  background: #55ACEE;  
  color: white;  
}  
.fa-pinterest {  
  background: #cb2027;  
  color: white;  
}  
.fa-linkedin {  
  background: #007bb5;  
  color: white;  
}  
.fa-instagram {  
  background: #125688;  
  color: white;  
}  
.readmore{
  display: block;
  text-align: center;
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  margin-top: 5px;
}