
body {
  background-color: white;
}

.container {

}


.row {

  height: 50vh;
  background-color: #e9e6d8;
  margin: -10px;


}

.profile-img  {

}
.content {
  width: 70%;
  margin: auto;
  text-align: center;
}

.img {
  
  height: 400px;
  width: 400px;
  border-radius: 50%;
  margin-top: -350px;
  border: solid;
  border-color: white;
  border-width: 6px;

}

.bg-white {
  background-color: white;
  margin: -10px;
  height: 435px;
  
}

.fa {  
  padding: 5px;  
text-align: center;  
  margin: 5px 3px;  
  font-size: 7px;  
  width: 15px; 
  height: auto;
  border-radius: 10px;

  
}  
.fa-facebook {  
  background: #3B5998;  
  color: white;  
}  
.fa-twitter {  
  background: #55ACEE;  
  color: white;  
}  
.fa-pinterest {  
  background: #cb2027;  
  color: white;  
}  
.fa-linkedin {  
  background: #007bb5;  
  color: white;  
}  
.fa-instagram {  
  background: #125688;  
  color: white;  
}  
.readmore{
  display: block;
  text-align: center;
  font-family: sans-serif;
  font-size: large;
  font-weight: bold;
  margin-top: 5px;
  display: inline-block;
}
.readmore > a:hover{
  background-color: orange;
}

.icons > a:hover{
  background-color: orange;
}
.more > p > a:hover{
  background-color: orange;
}
